//output:../panel.html

mixin Mas()
  .relative
    a.btn-floating.halfway-fab.waves-effect.waves-light.blue
      i.material-icons add
      
mixin Rows(x,c)
  .row.margin0
    .input-field.col.s12
      input.validate(class="#{c}" type="text" id="#{x}")
      label(for="#{x}") #{x}    
      
mixin Lis(id,idNum,num,x,y,enviar,className,classInput)
  li
    .collapsible-header
      span.new.badge(data-badge-caption="" id="#{idNum}") #{num}
      h5 #{x}
    .collapsible-body(id="#{id}")
      form
        each val in y
          +Rows(val,classInput)
      if enviar === true
        .flex-end
          a.waves-effect.waves-light.btn.click(class="#{className}") Enviar
            i.material-icons.right send
      

doctype
html(lang="es_CR")
  head
    title="Panel de Control"
    meta(charset="utf8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
    link(rel="stylesheet" href="sass/panel.min.css")
    
  body
    .centrado.esconder
      #uploader.preloader-wrapper.big.active
        .spinner-layer.spinner-blue-only
          .circle-clipper.left
            .circle
          .gap-patch
            .circle
          .circle-clipper.right
            .circle
      
    nav
      .nav-wrapper
        .col.s12
          a.breadcrumb.active(href="#!" data-id="home") Home
          a.breadcrumb(href="#!" data-id="productos") Productos

-var titulos = ["titulo1","titulo2","titulo3","titulo4"]
-var nosotros = ["titulo","parrafo1","parrafo2","imagen"]
-var parallax = ["principal","texto1","negrita1","texto2","negrita2"]

-var titulos2 = ["titulo1","titulo2","titulo3","titulo4","titulo5","titulo6"]
-var servicios2 = ["servicios1","servicios2","servicios3","servicios4","servicios5","servicios6"]
-var oficinasFisicas = ["descripcion"]
-var oficinasTemporales = ["descripcion","caracteristica1","caracteristica2","caracteristica3","caracteristica4","caracteristica5","caracteristica6","caracteristica7"]
-var oficinasVirtuales = ["descripcion"]
-var contactenos = ["correo","direccion","telefono","texto","titulo"]

    .row.pad#home
      ul.col.s12.collapsible(data-collapsible="accordion")
        //(x,y,enviar,className,classInput)
        +Lis("titulos","num-titulos","4","Titulos",titulos,true,"update-titulos","i-titulos")
        +Lis("servicios","num-servicios","4","Nuestros Servicios",[],false,"update-servicios","i-servicios")
        +Lis("nosotros","num-nosotros","4","Nosotros",nosotros,true,"update-nosotros","i-nosotros")
        +Lis("parallax","num-parallax","5","Parallax",parallax,true,"update-parallax","i-parallax")
        +Lis("equipo","num-equipo","5","Nuestro Equipo",[],false,"update-equipo","i-equipo")
        +Lis("proyectos","num-proyectos","5","Nuestros Proyectos",[],false,"update-proyectos","i-proyectos")
        +Lis("contactenos","num-contactenos","5","Contactenos",contactenos,true,"update-contactenos","i-contactenos")
        //+Lis("4","Titulos",titulos,true,"update-titulos","i-titulos")
    .row.pad.esconder#productos
      ul.col.s12.collapsible(data-collapsible="accordion")
        +Lis("titulos2","num-titulos2","6","Titulos",titulos2,true,"update-titulos2","i-titulos2")
        +Lis("servicios2","num-servicios2","6","Nuestros Servicios",servicios2,true,"update-servicios2","i-servicios2")
        +Lis("oficinasFisicas","num-oficinasFisicas","1","Oficinas Fisicas",oficinasFisicas,true,"update-oficinasFisicas","i-oficinasFisicas")
        +Lis("oficinasTemporales","num-oficinasTemporales","8","Oficinas Temporales",oficinasTemporales,true,"update-oficinasTemporales","i-oficinasTemporales")
        +Lis("oficinasVirtuales","num-oficinasVirtuales","1","Oficinas Virtuales",oficinasVirtuales,true,"update-oficinasVirtuales","i-oficinasVirtuales")
        +Lis("virtualOro","num-virtualOro","5","Virtual Oro",[],false,"update-virtualOro","i-virtualOro")
        +Lis("virtualPlatinum","num-virtualPlatinum","5","Virtual Platinum",[],false,"update-virtualPlatinum","i-virtualPlatinum")
        
                
  
script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js")
script(src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js")
script(src="js/panel.js")
